.search-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.input {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 5px;
}

.search-button {
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(0, 140, 255);
  border: none;
  color: white;
  padding: 5px 10px;

  transition: 200ms;

  &:active {
    background: blue;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #414141;
  }
}

#load-more-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  background: rgb(0, 140, 255);
  border: none;
  color: white;
  padding: 5px 10px;
  margin-bottom: 30px;

  transition: 200ms;

  &:active {
    background: blue;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #414141;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  & li {
    list-style: none;
    margin-top: 30px;
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  & .stats-item {
    margin: 0 5px;
    display: flex;
    align-items: center;
  }
  & .material-icons {
    margin-right: 5px;
  }
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.no-scroll {
  overflow: hidden;
}

.paginationjs-pages ul {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  min-width: 320px;
  padding: 0;
}

.paginationjs-pages ul li {
  list-style: none;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid transparent;

  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: 0.3s;

  &:not(:first-child) {
  margin-left: 5px;
}
&.active { 
  border: 1px solid #dc56c5;
  border-radius: 10px 0px;
  & a {
    color: #dc56c5;
  }
}
&:hover {
  border: 1px solid #dc56c5;
  border-radius: 10px 0px;
}
}

.paginationjs-pages ul li a {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  display: block;

  user-select: none;
  cursor: pointer;

  text-decoration: none;
}

.disabled {
  pointer-events: none;
}

body {
  background: rgb(31, 31, 31);
}